<div>
	{% for asignatura in acceso_asignaturas.get_asignaturas %}
		<div>{{asignatura.titulo}}</div>
		<a href="{{ path('contenido_asignatura', {'asignatura': asignatura.titulo}) }}">Información</a>
		<a href="{{ path('contenido_cargar_temarios', {'asignatura': asignatura.titulo}) }}">Aula</a>
	{% endfor %}
</div>


