{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}
    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_actividad',
                    'descripcion': 'Qué hacemos', 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}
	<div>¿Qué hacemos?</div>
{% endblock %}


