<div>logo</div>
<div>
	{% include('Contenido/menu_principal.html.twig') %}
</div>

{% set rol = 'ROL_ANONIMO' %}
{% if rol == 'ROL_ANONIMO' %}
	<div>iniciar usuario</div>
{% else %}
	<div>
		{% set usuario = 'Nacho Angulo Garibo' %}
		{{usuario}}
		<ul>
			<li>perfil</li>
			<li>cerrar sesión</li>
		</ul>
	</div>
{% endif %}

<div><a href="{{ path('catalogo_pedido')}}">matrículas(0)</a></div>

