{% extends 'Contenido/base.html.twig' %}

{% block body %}
	<div>Animación de la intro</div>   
	<a href="{{ path('contenido_raiz') }}">Portal</a>
{% endblock %}
    
{% block javascripts %}
{% endblock %}