<div>
	<a href="{{path('contenido_legal')}}">Aviso legal</a>
</div>
<div>
	(c) Prueba y aprueba
</div>
<div>
	pruebayaprueba@gmail.com
</div>
<div>
	693 382 337
</div>
<div>
	{% set matriculados = 32 %}
	{{ acceso_aulas.getNum_alumnos }} Alumnos
</div>

