{% extends 'Asignatura/info_asignatura.html.twig' %}

		{% 
			set documentos = [
				{
					'autor': '@pepe',
					'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit', 
					'tipo': 'PDF',
				}, 
				{
					'autor': '@pepe',
					'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam',
					'tipo': 'WORD',
				}, 
				{
					'autor': '@pepe',
					'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo', 
					'tipo': 'PDF',
				}, 
			] 
		%}

{% block cuerpo_asignatura %}
	<div>Documentación aportada:</div>
  		<table>
        	<tr>
        		<th>Tipo</th>
        		<th>Nombre</th>
        		<th>Autor</th>
        	</tr>

			{% for documento in documentos %}

				{% set icono = 'icono.png' %}
				{% if documento.tipo == 'PDF' %}
					{% set icono = 'icono.png' %}
				{% elseif documento.tipo == 'WORD' %}
					{% set icono = 'icono.png' %}
				{% else %}
					{% set icono = 'icono.png' %}
				{% endif %}

		    	<tr>
		    		<td><img src="{{ asset(icono) }}"></td>
		    		<td><a href="" target="_blank">{{documento.descripcion}}</a></td>
		    		<td>{{documento.autor}}</td>
		    	</tr>
	    	{% endfor %}
	    </table>

	    <div>
	    	<form action="{{ path('contenido_subir_documento', {'asignatura': 'Asignatura A1'}) }}"  method="get">
				<input type="text" placeholder="Descripción" />
				<input type="text" placeholder="Url" />
				<button>Examinar</button>
				<button type="submit">Subir</button>
			</form>
	    </div>
{% endblock %}


