{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}
    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_asignatura',
                    'descripcion': asignatura.titulo, 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}
	<div class="text-success"><h3>Cabecera de {{asignatura.titulo}}</h3></div>

	<div>
		{% include('Asignatura/menu_asignatura.html.twig') %}
	</div>

    <div>{{asignatura.descripcion}}</div>

	{% block cuerpo_asignatura %}
	{% endblock %}

{% endblock %}


