{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	<a class="btn btn-primary btn-sm" href="{{ path('admin_app_pregunta_examen_list', {'id': object.getId()}) }}">
		<i class="fa fa-envelope"></i>&nbsp;Exámen
	</a>	
{% endblock %}