{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	<a class="btn btn-primary btn-sm" href="{{ path('admin_app_matricula_secciones_list', {'id': object.getId()}) }}">
		<i class="fa fa-envelope"></i>&nbsp;Marículas
	</a>	
{% endblock %}