{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	<a class="" href="{{ asset(
		'documentos/' ~ 
		object.getAsignatura().getTitulo ~ '/' ~ 
		object.getFilename() ~ '.' ~
		object.getTipo())
	}}" target="_blank">
		descargar
	</a>
{% endblock %}


{#
	<a class="" href="{{ asset('' ~ object.getFile() ~ '') }}" target="_blank">
		descargar
	</a>	

#}

{#
	<a class="" href="{{ asset(
		'documentos/' ~ 
		object.getAsignatura().getTitulo ~ '/' ~ 
		object.getFilename() ~ '.' ~
		object.getTipo())
	}}" target="_blank">
		descargar
	</a>	
#}