{% extends 'Aula/seccion.html.twig' %}

{% block cuerpo_seccion %}
	<div>Título de la sección 9991</div>
	<div>Contenido de la sección</div>
	<div>Imágens de la sección</div>
	<div>Vídeos de la sección</div>
{% endblock %}