{% extends 'Contenido/raiz.html.twig' %}

{% block bloqueB %}	
	<div>Registro de usuario realizado con éxito. Revisa tu email para activar tu cuenta</div>

	<div>
		<a href="{{ path('contenido_raiz') }}">Aceptar</a>
	</div>
	
{% endblock %}