{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'usuario_registrar',
                    'descripcion': 'Registro realizado', 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}	
	<div>Registro de usuario realizado con éxito. Revisa tu email para activar tu cuenta</div>

	<div>
		<a href="{{ path('contenido_raiz') }}">Aceptar</a>
	</div>
	
{% endblock %}