.letra {font-size: 50px;}

#news-div {
	height:50px; /* Altura del contenedor de los anuncios de texto */
	background:#64b5f6; /* Color de fondo de los anuncios de texto */
	border:1px solid #ccc;
}
#news li {list-style-type:none;}
#portfolio li {list-style-type:none;}