
{% extends 'Aula/aula_asignatura.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_raiz',
                    'descripcion': 'Aula', 
                }, 
                {
                    'url': 'contenido_cargar_temarios',
                    'descripcion': asignatura.titulo, 
                }

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block cuerpo_aula %}
	<div>Lista de temarios para acceder</div>
	
		{% 
			set temarios = [
				{
					'id': 2,
					'descripcion': 'Temario T1', 
				}, 
				{
					'id': 3,
					'descripcion': 'Temario T2',
				}, 
			] 
		%}

<div>
	{% for temario in temarios %}

		<div>
			<a href="{{ path('contenido_cargar_secciones', {
				'asignatura': asignatura.titulo,
				'temario': temario.descripcion
			}) }}">{{temario.descripcion}}</a>
		</div>
		
	{% endfor %}
</div>

{% endblock %}


