
{% extends 'Aula/aula_asignatura.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_raiz',
                    'descripcion': 'Aula', 
                }, 
                {
                    'url': 'contenido_cargar_temarios',
                    'descripcion': asignatura.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo
                	}
                },
                {
                    'url': 'contenido_cargar_secciones',
                    'descripcion': temario.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo,
                    	'temario': temario.titulo
                	}
                }

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block cuerpo_aula %}
	<div>Cabecera de temario</div>
	<div>Descripción del temario</div>

    {# 
        Los métodos serán jquery para ocultar y mostrar bloques 
        Sólo se podrá activar un modo u otro si el usuario está matriculado en todo el temario
    #}

    {% if temario.matriculado %}
        {% if guiado is not defined %}
            {% set guiado = true %}
        {% endif %}
        Estudio guiado: <input type="checkbox" id="guiado" checked >
    {% endif %}

	{% block seccion %}
		<div>
			{% include('Aula/indice_secciones.html.twig') %}
		</div>
	{% endblock %}

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script type='text/javascript'>
    $jQuery_3_3_1(document).ready(
        function(){
            $('input#guiado').bind('change', function() { 
                $("div#progreso").toggle(this.checked);
                $("div#paso").toggle(this.checked);
                $("div#display").toggle(this.checked);
            }); 
        }
    );
    </script>

{% endblock %}

