{% extends 'Contenido/raiz.html.twig' %}

{% block bloqueB %}
	<div>Cabecera de aula de asignatura</div>
	
	<div>Descripción de la asignatura</div>

	{% block cuerpo_aula %}
		Aquí el cuerpo del aula
	{% endblock %}

{% endblock %}


