<div id="preguntas">
    {% for pregunta in preguntas %}
		<ul>{{pregunta.descripcion}}
            <div id="mensaje_error" class="oculto">ERROR</div>
            {% for opcion in pregunta.getOpciones() %}
                <li>
                    <input type="checkbox" name="{{ 'pregunta_' ~ pregunta.id}}">
                    <input type="hidden" value="{{opcion.cierta}}">
			        {{opcion.descripcion}}
                </li>
			{% endfor %}
        </ul>
	{% endfor %}		
</div>

<div>
	<div>
        <button id="validar">Validar</button>
	</div>
	<div id="nota">7,5</div>
	<div>Cuestiones incorrectas:</div>
</div>