{% for seccion in temario.getSecciones() %}

	{% if seccion.matriculado %}
		<div>
			<a href="{{ path('contenido_cargar_seccion', {
				'asignatura': asignatura.titulo,
				'temario': temario.titulo,
				'seccion': seccion.titulo,
			}) }}">{{seccion.titulo}}</a>
		</div>		
	{% endif %}

{% endfor %}


