{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_cargar',
                    'descripcion': 'Catalogo', 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}
	<div>Cabecera de cat치logo</div>

	<div>
		{% include('Catalogo/menu_catalogo.html.twig') %}
	</div>

    {% block descripcion_catalogo %}
        <div>
            Descripci칩n del cat치lgo
        </div>        
    {% endblock %}

    {% block buscador %}
    {% endblock %}

	{% block cuerpo_catalogo %}
		Cuerpo del cat치logo
	{% endblock %}

{% endblock %}


